body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 
}

main {
    padding: 20px; 
}

img {
    width: 350px;
}

figure {
    margin-left: 100px; 
}

input {
    width: 100%; 
}

#message {
    height: 100px;
}

#submit {
    background-color: darkgray; 
}